/**
 * 	Style of tooltip
 */
#scroll_tip{
	background:black;
	color:#999;
}

/**
 * 	Style of tootip triangle
 */
#scroll_tip:after, #scroll_tip.bottom:after, #scroll_tip.top:after, #scroll_tip.left:after, #scroll_tip.right:after {
	border-color: #47a3da transparent;
}

/**
 * 	Menu size
 */
#scroll_menu {
	font-size:20px;
}

/* Colors for menu elements*/
.scroll_colors
{
	background:#DFE5E9;
	color:#535353;
}

/* 
Style for hovered menu elements, active menu element and back button
* */
.scroll_menu li:hover, .scroll_menu li:hover a, .scroll_menu li:hover span,
.scroll_menu li.current a, .scroll_menu li.current span,#scroll_back span,
.hover_colors
{ 
    background: #1BC4A3;
    color: #fff;
    text-decoration:none;
    
}

/*
 * Hide button is buttom used for show or hide menu
 */
.hide_button{
	background:black;
}
/*
 * Hide button style when mouse on it
 */
.hide_button:hover{
	background:black;
}